[submodule "themes/anake"]
	path = themes/anake
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark
